<h1>Inventories</h1>

<p><i class="icon-plus-sign"></i> <%= link_to 'New Inventory', new_game_user_inventory_path(@game, @user) %></p>

<table class="table table-striped">
  <tr>
    <th>User</th>
    <th>Badge</th>
    <th>Amount</th>
    <th>Manage</th>
  </tr>

<% @inventories.each do |inventory| %>
  <tr>
    <td><%= User.find(inventory.user_id).username %></td>
    <td><%= Badge.find(inventory.badge_id).badge_name %></td>
    <td><%= inventory.amount %></td>
    <td>
      <%= link_to 'Show', [@game, @user, inventory] %> | <%= link_to 'Edit', edit_game_user_inventory_path(@game, @user, inventory) %> | 
      <%= link_to 'Destroy', [@game, @user, inventory], confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>
