<h1>Inventories</h1>

<table class="table table-striped">
  <tr>
    <th>User</th>
    <th>Badge</th>
    <th>Amount</th>
    <th>Manage</th>
  </tr>

<% @inventories.each do |inventory| %>
  <tr>
    <td><%= User.find(inventory.user_id).username %></td>
    <td><%= Badge.find(inventory.badge_id).badge_name %></td>
    <td><%= inventory.amount %></td>
    <td>
      <%= link_to 'Show', inventory %> | <%= link_to 'Edit', edit_inventory_path(inventory) %> | 
      <%= link_to 'Destroy', inventory, confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Inventory', new_inventory_path %>
