<h1>Badges</h1>

<table class="table table-striped">
  <tr>
    <th>Badge Image</th>
    <th>Badge Name</th>
    <th>Badge Info</th>
    <th>Manage</th>
  </tr>

  <% @badges.each do |badge| %>
    <tr>
      <td><%= badge.badge_image %></td>
      <td><%= badge.badge_name %></td>
      <td><%= badge.badge_info %></td>
      <td><%= link_to 'View', badge %> | 
        <%= link_to 'Edit', edit_badge_path(badge) %> | 
        <%= link_to 'Delete', badge, confirm: 'Are you sure?', method: :delete %>
      </td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Badge', new_badge_path %>
