<p id="notice"><%= notice %></p>

<h1><%= @badge.badge_name %> badge</h1>

<table class="table table-striped">
	<tr>
		<th>Image</th>
		<th>Level Required</th>
		<th>Description</th>
	</tr>
	<tr>
		<td> <img src="/assets/images/badges/<%= @badge.badge_image %>" width="100px" height="100px"> </td>
		<td><%= @badge.awarded_at %></td>
		<td><%= @badge.badge_info %></td>
	</tr>
</table>

<%= link_to 'Edit', edit_game_badge_path(@game, @badge) %> |
<%= link_to 'Back', game_badges_path(@game) %>
