<%= form_for([@game, @user, @friendship], html: {class: 'form-horizontal'}) do |f| %>
  <% if @friendship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@friendship.errors.count, "error") %> prohibited this friendship from being saved:</h2>

      <ul>
      <% @friendship.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <div class="control-group">
      <%= f.label :friend_id, class: 'control-label' %>
      <div class="controls">
        <%= f.number_field :friend_id %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= f.submit class: 'btn' %>
      </div>
    </div>
  </div>
<% end %>