<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


 <div class="control-group">
      <%= f.label :Name, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :gamename %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :Description, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :description %>
      </div>
    </div>
    
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
