<h1>Listing levels</h1>

<table class="table table-striped">
  <tr>
    <th>Level</th>
    <th>Xp To Next Level</th>
    <th>Manage</th>
  </tr>

<% @levels.each do |level| %>
  <tr>
    <td><%= level.id %></td>
    <td><%= level.xp_to_next_level %></td>
    <td>
      <%= link_to 'View', level %> | 
      <%= link_to 'Edit', edit_level_path(level) %> | 
      <%= link_to 'Delete', level, confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Level', new_level_path %>