<h1>Listing levels</h1>

<p><i class="icon-plus-sign"></i> <%= link_to 'New Level', new_game_level_path(@game) %></p>

<table class="table table-striped">
  <tr>
    <th>Level</th>
    <th><%= @game.unit %> To Next Level</th>
    <th>Manage</th>
  </tr>

<% @levels.each do |level| %>
  <tr>
    <td><%= level.levelno %></td>
    <td><%= level.xp_to_next_level %></td>
    <td>
      <%= link_to 'View', game_level_path(@game, level) %> | 
      <%= link_to 'Edit', edit_game_level_path(@game, level) %> | 
      <%= link_to 'Delete', [@game, level], confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />