<h1>Emails</h1>

<p><i class="icon-plus-sign"></i> <%= link_to 'New Email', new_game_user_email_path(@game, @user) %></p>

<table class="table table-striped">
  <tr>
    <th>User</th>
    <th>Email</th>
    <th>Manage</th>
  </tr>

<% @emails.each do |email| %>
  <tr>
    <td><%= @user.username %></td>
    <td><%= email.email %></td>
    <td>
      <%= link_to 'Show', [@game, @user, email] %> | 
      <%= link_to 'Edit', edit_game_user_email_path(@game, @user, email) %> | 
      <%= link_to 'Destroy', [@game, @user, email], confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>

<%= link_to 'New Email', new_game_user_email_path(@game, @user) %>
